@font-face {
    font-family: 'Agency Bold';
    src: url('../agencyfb-bold.woff') format('woff'),
    url('../agencyfb-bold.ttf') format('truetype')
}

body {
	padding-top:75px;
}

p {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.footer {
	border-top-width: 2px;
	border-top-style: groove;
	margin-top: 20px;
	padding: 20px;
}

.footer-icons {
	padding-bottom:10px;
}

#index {
	background: url("../images/brewerypic2b.png") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
	margin-bottom:0px;
	border-radius: 0px;
}
.navbar-inverse .navbar-brand {
	color: #C1D92A;
	font-family: 'Agency Bold', sans-serif;
	font-weight: bold;
	font-size: x-large;
	letter-spacing: 1px;
	padding-right:5px;
	text-transform: uppercase;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
}

.navbar-inverse .navbar-nav > li > a {
	font-family: 'Agency Bold', sans-serif;
	font-weight:lighter;
	text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #C1D92A;
	font-family: 'Agency Bold', sans-serif;
	text-transform: uppercase;
}

.navbar-inverse .navbar-toggle{
	padding-top:20px;
}

.img-responsive {
	height: auto;
	max-width:100%;
}

.spacer {
	margin-top: 150px;
}

.strapline {
	color: black;
	font-family:'Agency Bold', sans-serif;
	font-size: x-large;
	margin-top:10px;
}

.secondary {
	font-size: large;
}

.media-icons{
	padding-left:10px;
}

.footer > div > blockquote {
	margin-bottom: 10px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.darkbg > p{
	color:white;
}

.page-header {
	background-color:#666;
	height: 150px;
	margin-top:0px;
	padding:32px 0px 0px 0px;
	padding-bottom: 0px;
}

.page-header > h1 {
	color: white;
	font-family: 'Agency Bold', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
}

.gallery {
	border-width: 2px;
	border-color: #C1D92A;
}