@font-face {
    font-family: 'HGRegular';
    src: url('../HansGrotesque-Regular.otf') format('opentype')
}
@font-face {
    font-family: 'HGLight';
    src: url('../HansGrotesque-Light.otf') format('opentype')
}
@font-face {
    font-family: 'HGBold';
    src: url('../HansGrotesque-Bold.otf') format('opentype')
}
@font-face {
    font-family: 'HGMedium';
    src: url('../HansGrotesque-Medium.otf') format('opentype')
}
@font-face {
    font-family: 'HGSemibold';
    src: url('../HansGrotesque-SemiBold.otf') format('opentype')
}
@font-face {
    font-family: 'HGExtrabold';
    src: url('../HansGrotesque-ExtraBold.otf') format('opentype')
}

body {
	padding-top:75px;
}

p {
	font-family: 'HGRegular', sans-serif;
}

.footer {
	border-top-width: 2px;
	border-top-style: groove;
	font-family:'HGRegular', sans-serif;
	margin-top: 20px;
	padding: 20px;
}

.footer-icons {
	padding-bottom:10px;
	padding-left:90px;
}

#index {
	background: url("../images/bgbw.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
	margin-bottom:0px;
	border-radius: 0px;
}
.navbar-inverse .navbar-brand {
	color: #C1D92A;
	font-family: 'HGExtraBold', sans-serif;
	font-weight: bold;
	font-size: x-large;
	letter-spacing: 1px;
	padding-right:5px;
	text-transform: uppercase;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
}

.navbar-inverse .navbar-nav > li > a {
	font-family: 'HGBold', sans-serif;
	font-weight:lighter;
	text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #C1D92A;
	font-family: 'HGExtraBold', sans-serif;
	text-transform: uppercase;
}

.navbar-inverse .navbar-toggle{
	padding-top:20px;
}

.img-responsive {
	height: auto;
	max-width:100%;
}

.spacer {
	margin-top: 150px;
}

.strapline {
	color: white;
	font-family:'HGSemiBold', sans-serif;
	font-size: x-large;
	margin-top:10px;
}

.strapline-gr {
	color: #C1D92A;
	margin-top:-15px;
}

.secondary {
	font-size: large;
}

.media-icons{
	padding-left:10px;
}

.footer > div > blockquote {
	margin-bottom: 10px;
}

.darkbg > p{
	color:white;
}

.page-header {
	background-color:#666;
	height: 150px;
	margin-top:0px;
	padding:32px 0px 0px 0px;
	padding-bottom: 0px;
}

.page-header > h1 {
	color: white;
	font-family: 'HGExtraBold', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
}

.panel-footer {
	border-width: 2px;
	border-color: #C1D92A;
	background: #222;
	color: white;
}